services:
  postgres:
    image: postgres:16
    container_name: service_postgres
    env_file: .env
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_EXTERNAL_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  goose:
    container_name: service_goose
    build:
      context: ./migrations
      dockerfile: Dockerfile
    env_file: .env
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      MIGRATION_VERSION: ${MIGRATION_VERSION:-latest}
    volumes:
      - ./migrations/sql:/migrations/sql
    depends_on:
      postgres:
        condition: service_healthy

  service:
    container_name: service_app
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "${PORT}:8080"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data: