openapi: 3.0.3
info:
  title: Final Project API
  version: "1.0.0"

servers:
  - url: http://localhost:8080

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /auth/register:
    post:
      summary: Register anyone(client/model/admin)
      security: []
      tags: [ Auth ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "openapi-models.yml#/components/schemas/RegisterDTO"
      responses:
        "201":
          description: Registered
          content:
            application/json:
              schema:
                $ref: "openapi-models.yml#/components/schemas/AuthTokenResponse"
        "400":
          description: Invalid JSON
          content:
            application/json:
              schema:
                $ref: "openapi-models.yml#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "openapi-models.yml#/components/schemas/ErrorResponse"
        "409":
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: "openapi-models.yml#/components/schemas/ErrorResponse"
        "500":
          description: Internal error

  /auth/login:
    post:
      summary: Login
      security: []
      tags: [ Auth ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "openapi-models.yml#/components/schemas/LoginDTO"
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: "openapi-models.yml#/components/schemas/AuthTokenResponse"
        "400":
          description: Invalid JSON
          content:
            application/json:
              schema:
                $ref: "openapi-models.yml#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "openapi-models.yml#/components/schemas/ErrorResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "openapi-models.yml#/components/schemas/ErrorResponse"
        "500":
          description: Internal error
